<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net46" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base" version="19.3.0.45" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="19.3.0.45" targetFramework="net46" />
  <package id="Syncfusion.Pdf.WinForms" version="19.3.0.45" targetFramework="net46" />
</packages>